.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
}

@media (min-width: 820px) and (max-width: 1279px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-grid li {
  display: flex;
  align-items: stretch;
}

.gallery-grid li img {
  width: 100%;
  object-fit: cover;
}
